/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.06.2019, 19:16:17
    Author     : Мария
*/

.cart-button{
   float: right;
   margin-right: 2.3em;
      
}

.goods-list{
    
     display: inline-block;
     width: auto;
     
}

.goods-item{
    
    display: inline-block;
    border : 1px solid #E76D13;
   
    
}
